.box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
    
}
.card{
    height: 280px;
    width: 80%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    text-align: center;
}
.card-img {
    height: 130px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.card-img img {
    height: 130px;
    width: 100%;
    
}